@import url('https://fonts.cdnfonts.com/css/nexa-bold');
/* FONT NEXA GEBRUIKEN :
font-family: 'Nexa', sans-serif;
*/
.footer-container{
    display: flex;
    justify-content: space-evenly;   
    width: 98vw;
    max-height: 20vh;
    background-color: 51B2AB;
}
.sunnylogo-footer-img{
    max-width: 15vw;
    max-height: 10vh;
}
h3{
    display: flex;
    justify-content: center;
}
ul{
    list-style-type: none;
    font-family: 'Nexa', sans-serif;
}
.contact-img-footer{
    max-width: 4vw;
    max-height: 4vh;
    
    padding-right: 1vw;
}
.waartekopen-footer-img{
    border-radius: 50%;
    max-width: 5vw;
    max-height: 5vh;
}
html{
	margin: 0px;
	padding: 0px;
}